body {
  padding-top: 70px; // (same as header height)
}
header {
  background: #ffffff;
  height: 70px;
  position: fixed;
  top: 0;
  text-align:center;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
blockquote
{
  margin-left:170px;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding: 8px;
  width: 320 px;
  min-height: 44px;
  border:2px solid black;
  border-radius:6px;  
  z-index:1;
}
.twitterborder {
    background: white;
    height: 100px;
    margin: auto;
    width: 320px;
    text-align:center;
    padding:10px;
    color:#ffffff;
}

